body {
  font-family: "Lato", sans-serif;
  font-size: 1.313em;
  background-color: #14213d;
  color: #e5e5e5;
  width: auto;
  letter-spacing: 0.5px;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  height: 100vh;
}

.hl {
  color: #fca311;
}

h1,
h2,
h3 {
  font-size: 2.125em;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: #e5e5e5;
}
.resume {
  text-decoration: none;
  color: #14213d;
  background-color: #fca311;
  outline-color: #000;
  padding: 0 3px;
}

.subtitle {
  font-size: 0.8em;
}

.footer {
  width: 100%;
  padding-bottom: 1em;
}

.screenshot {
  max-width: 768px;
  border-radius: 0.3em;
}
